html {

    box-sizing: border-box;
    }
    *, *before, *after {
        box-sizing: inherit;
    }
    body{
        background-color: rgb(4, 22, 34);
    
    }
    
    div {
       color:rgb(220, 241, 248);
    
    }

    h1 {
        color:whitesmoke;
    }

    p {
        font-size: 20px;
        text-align: center;
    }

    #SHARK { 
        display: block; 
        margin-left: auto;
        margin-right: auto; 
        width: 60%; 
       

    }

    #shark1 { 
        display: block; 
        margin-left: auto;
        margin-right: auto; 
        width: 60%;
    }

    #sharkie {
        display: block; 
        margin-left: auto;
        margin-right: auto; 
        margin-top: auto;
        margin-bottom: auto;
        width: 105%;
    }

    #button { 
        opacity: 90%;
        color: rgb(130, 8, 8);
        border: 0px ;
        border-radius: 0% ;
        width: 10%;
        padding: 10px;
        font-size: 20px;
        text-align: center;
        margin: 0 auto;
        display: block;  
    }

    .active {
        background: rgb(130, 8, 8);
    }

    .active h1 {
        color:rgb(2, 0, 0);
        font-size:25px;
       
    }

    .active div{
        color:rgb(43, 0, 0);
        font-size:25px;
    }
