html {

    box-sizing: border-box;
    }
    *, *before, *after {
        box-sizing: inherit;
    }
    body{ 

        background-color: rgb(12, 19, 54);
        
    }  

    h1{
        text-align: center; 
        color: rgb(244, 159, 147);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 45px;
        border: 3px dotted rgb(244, 159, 147);
        width: 40%;
        line-height: 50px;
        padding: 20px;
        margin: 0 auto 25px auto;
    }

    p{
        text-align: center; 
        color: rgb(244, 159, 147);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 25px;
        padding: 100px;
        border: 3px dotted rgb(244, 159, 147);
        width: 40%;
        line-height: 50px;
        padding: 50px;
        margin: 0 auto 25px auto;
    }
    div{
        text-align: center; 
        color: rgb(244, 159, 147);
        
    }


    #group{
        display: block; 
        margin-left: auto;
        margin-right: auto; 
        width: 30%;
    }

    #pp{
        display: block; 
        margin-left: auto;
        margin-right: auto; 
        width: 30%;
    }

    #info{
        display: block; 
        margin-left: auto;
        margin-right: auto; 
        width: 50%;
    }

    #teeth{
        display: block; 
        margin-left: auto;
        margin-right: auto; 
        width: 50%;
    }
a{  
     font-size:40px;
    background-color: rgb(244, 159, 147);
    color:rgb(2, 16, 43);
    border-radius: 50%;
    opacity: 100%;
    width: 30%;
    line-height: 50px;
    padding: 30px;
    margin: 0 auto 25px auto;
}
    