html {

    box-sizing: border-box;
    }
    *, *before, *after {
        box-sizing: inherit;
    }
    body{ 

        background-color: rgb(98, 7, 7);
        
    }  

    h1{
        text-align: center; 
        color: rgb(255, 255, 255);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 45px;
        border: 3px dotted rgb(255, 255, 255);
        width: 40%;
        line-height: 50px;
        padding: 20px;
        margin: 0 auto 25px auto;
    }

    p{
        text-align: center; 
        color: rgb(255, 255, 255);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 25px;
        padding: 100px;
        border: 3px dotted rgb(255, 255, 255);
        width: 40%;
        line-height: 50px;
        padding: 50px;
        margin: 0 auto 25px auto;
    }
    div{
        text-align: center; 
        color: rgb(255, 255, 255);
        
    }


    #goblin{
        display: block; 
        margin-left: auto;
        margin-right: auto; 
        width: 30%;
    }

    #goblin2{
        display: block; 
        margin-left: auto;
        margin-right: auto; 
        width: 30%;
    }

    #goblin3{
        display: block; 
        margin-left: auto;
        margin-right: auto; 
        width: 50%;
    }

    #goblin1{
        display: block; 
        margin-left: auto;
        margin-right: auto; 
        width: 50%;
    }

    #leaf4{
        display: block; 
        margin-left: auto;
        margin-right: auto; 
        width: 50%;
    }
a{  
     font-size:40px;
    background-color: rgb(255, 255, 255);
    color:rgb(98, 5, 5);
    border-radius: 50%;
    opacity: 100%;
    width: 30%;
    line-height: 50px;
    padding: 30px;
    margin: 0 auto 25px auto;
}